<div class="container text-center mt-5">
  <div class="card mx-auto" style="width: 30rem;">
    <div class="card-header">
      <h3>Success</h3>
    </div>
    <div class="card-body mx-auto">
      <h1 class="card-text">welcome!</h1>
      <a class="btn btn-secondary mt-2" href="/">Log out</a>
    </div>
  </div>
</div>